@import url("https://fonts.googleapis.com/css2?family=Gurajada&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Gurajada&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.gurajada-regular {
  font-family: "Gurajada", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .poppins-regular {
    font-family: "Poppins", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

#body_1 {
  font-family: "Poppins", system-ui;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #21409a;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  width: 100%;
}

.banner {
  margin: 0;
}

.create-post-icon {
  font-size: 24px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: flex-start;
}

.sidebar {
  width: 200px;
  height: 500px; 
  background-color: #ffffff; 
  padding: 1.5rem;
  border: 2px solid #dddbdb;
  border-radius: 15px; 
  margin-left: 20px; 
  margin-top: 80px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: fixed;
 
}
.sidebar ul {
  list-style: none;  
  padding: 0px;
 
  
}

.sidebar li {
  margin: 10px 0;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  display: flex;  
  font-size: 13px;
  align-items: center; 
  gap: 10px; 
  transition: background-color 0.3s; 
  padding: 10px; 
  border-radius: 5px; 
}

.sidebar li:hover {
  background-color: #274396; 
  color: white;
  border-radius: 5px;
}

/* .sidebar li + li {
  border-top: 1px solid #21409a; 
} */

#logoFeed {
  font-family: "Gurajada", sans-serif;
  font-size: 30px;
  color: #2777EE;
  margin: 0;
}

.logout {
  margin-top: auto;
  color: red;
  font-weight: bold;
}

.feed {
  flex: 1;
  padding: 1rem 20rem;
  margin-top: 80px; 

}

.new-post {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

textarea {
  width: 80%;
  height: auto;
  min-height: 10px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  resize: none;
}

.button_feed {
  padding: 10px;
  width: 70px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.posts {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 370px;
}

.post {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.post-options {
  display: flex;
  align-items: center;
  margin-top: 10px;
  font-size: 14px;
}

.post-options span{
  font-size: 11px;
  margin-right: 2px;
}

.profile-pic {
  width: 40px; 
  height: 40px; 
  border-radius: 50%; 
  margin-right: 10px; 
}

.save-post {
  margin-left: auto; 
  font-size: 16px; 
  cursor: pointer; 
}

/* .icons{
  width: 10px;
  height: 10px;
} */

.icons{
  width: 1rem;
  height: 1rem;
  padding: 0px 2px;
  cursor: pointer;
  
}

.iconsSideBar{
  width: 1.5rem;
  height: 1.5rem;
  padding: 0px 2px;
 

}

#Enviar{
  border-radius: 5px;
  padding: 10px ;
 
}


#logobranco {
  width: 100px; 
  height: auto; 
  margin-left: 10px; 
  margin-right: 10px; 
}
.post-profile-pic, 
.comment-profile-pic {
width: 40px;
height: 40px;
border-radius: 50%;
margin-right: 5px;
}

.link{
  text-decoration: none;
}

.post-info{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
}